#!/usr/bin/env bash
# .envrc

export PROJECT_PATH="$(dirname "$(realpath "${BASH_SOURCE[0]}")")"
export DASHBOARD_PATH="$PROJECT_PATH/dashboard"

source .env

use flake

if [ "$ENV" = "dev" ] || [ -z "$ENV" ]; then
  uv sync --link-mode=copy
  uv pip install -e . --no-deps --link-mode=copy
else
  uv sync
  uv pip install -e . --no-deps
fi

source .venv/bin/activate
