# Environments
.venv*/
.direnv/
.ruff_cache/

# Nix
result*

# Python cache
__pycache__/
*.py[cod]
*.egg-info/

# Project-specific cache/artifacts
.cache/
model_res/
*.sqlite
*.sqlite-journal

# Dashboard (Next.js)
dashboard/node_modules/
dashboard/.next/
dashboard/out/
dashboard/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
bun.lock
*.db

*.deb

data/
/.run

/backend/alpaca/app
/.tmp
scripts/unix/.user